$primair: #800020;
$contrast: #208000;

* {
    padding: 0;
    margin:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primair {
    color: $primair;
}

.contrast {
    color: $contrast;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.flex-end {
    display: flex;
    align-items: flex-end;
}

#logo, nav {
    a {
        &:hover {
            text-decoration: none !important;
        }
    }
}