#header {
    height: 90px;
    position:fixed;
    background-color: white;
    width: 100%;
    display: flex;
    z-index: 900;
}

#header-buffer {
    height: 90px;
}

#logo {
    font-size:1.4em;
    margin: 30px 0;
}

#logo-zwolle {
    color: white;
    background-color: $primair;
    padding: 10px;
    margin: 0 2px;
}

#nav {
    margin-left: auto;
    ul {
        .sidebar-close {
            display: none;
            color: white;
        }
        #logo-sidebar {
            display: none;
            color: white !important;
            font-size: 1.3em;
            margin-bottom:70px !important;
            #logo-zwolle {
                margin-left: 5px;
                background-color: white;
                color: $primair;
            }
        }
        margin: 0 0 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        li {
            margin-left: 0;
            a {
                white-space: nowrap;
                display: block;
                padding: 15px 10px;
                font-size: 1.1em;
                color: $primair;
                &:hover {
                    color: darken($primair, 10%);
                }
            }
        }
    }
    #nav-offerte {
        background-color: $contrast;
        color: white;
        margin: 5px 0 0 10px;
        padding: 10px 10px;
    }
}

// dd-menu
#dropdown-diensten-item {
    border-top-style: none;
}

#dropdown-diensten-item:hover {
    border-top-style: hidden;
}

.dropdown-menu-item {
    background-color: white;
    border: 1px solid darken($primair, 10%);
    box-shadow:0px 3px 2px rgb(68, 68, 68);
    margin-right:15%;
    position: fixed;
    z-index:110;
    display:none;
    text-align: center;
    a {
        color: black;
        display: block;
        padding: 20px 30px;
        border-bottom: 1px solid #666;
        &:hover {
            text-decoration: none !important;
            background-color: #eee;
        }
    }
}

.dmi-resp {
    max-width: 50%;
    ul {
        list-style: none;
        margin:0;
        padding: 0;
    }
}

#dropdown-diensten-item {
    right: 70px;
}

.dd-show {
    display: block !important;
}

.dd-menu-content {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #666;
}

.dd-single {
    flex: 1 0 80%;
    flex-direction: column;
}

.close-dd-nav {
    display: none;
}
// einde dd

#hamburger-icon {
    display: none;
    img {
        width: 25px;
    }
}

#call-to-action {
    display: flex;
    justify-content: space-between;
}

#cta-voordelen {
    width: 29%;
    // border: 1px dotted #eee;
    position: relative;
    h2 {
        color: white;
        background-color: $primair;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        font-size: 1.7em;
    }
    #voordelen-lijst {
        background-color: rgba($primair, .1);
        position: absolute;
        display: flex;
        top: 0px;
        bottom:0px;
        left: 0px;
        right: 0px;
        ul {
            position: absolute;
            top: 130px;
            width: 100%;
            li {
                color: #666;
                margin-left: 18%;
                font-size: 1.2em;
                margin-bottom: 15px;
                font-style:italic;
            }
        }
        a{
            margin: auto auto 20px auto;
            button {
                font-size: 1.3em;
                background-color: $contrast;
                color: white;
                padding: 15px 40px;
                text-align: center;
                border: none;
                box-shadow: none;
                cursor: pointer;
                &:hover {
                    background-color: lighten($contrast, 3%);
                }
            }
        }
    }
}

.cta-image {
    width: 69%;
    height: 500px;
    background-size: cover;
    background-position: bottom;
    background-color:#adadad;
    background-blend-mode: multiply;
    position: relative;
    text-align:right;
    h2 {
        color: white;
        font-weight: 700;
    }
    #cta-tekst {
        position: absolute;
        bottom: 15px;
        right: 15px;
        a{
            &:hover {
                text-decoration: none;
                font-style: italic;
            }
        }
    }
}

#cta-image-home {
    background-image: url('/img/klussenbedrijf-in-zwolle-nodig.jpg');
}

#cta-image-klussen-zwolle {
    background-image: url('/img/gereedschap.jpg');
}

.fadeIn_1,
.fadeIn_2,
.fadeIn_3 {
    opacity:0;
    margin-bottom: 15px;
}

.fadeIn_1 {
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
    transition: opacity 2s ease-in-out;
}

.fadeIn_2 {
    -webkit-transition: opacity 2s 1s ease;
    -moz-transition: opacity 2s 1s ease;
    -o-transition: opacity 2s 1s ease;
    transition: opacity 2s 1s ease;
}

.fadeIn_3 {
    -webkit-transition: opacity 2s 2.5s ease;
    -moz-transition: opacity 2s 2.5s ease;
    -o-transition: opacity 2s 2.5s ease;
    transition: opacity 2s 2.5s ease;
}

.fade {
    opacity: 1 !important;
}

h1 {
    font-size: 2.7em;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    margin-top: 40px;
}
.icons {
    background-color: rgba($primair, .1);
    margin: 50px 0 100px;
    display: flex;
    flex-direction: column;

    padding: 50px;
    button {
        width: 100%;
        padding: 20px 0;
        margin-top: 80px;
        background-color: $contrast;
        border: none;
        color: white;
        font-size: 1.5em;
        font-weight: 700;
        cursor:pointer;
        &:hover {
            background-color: lighten($contrast, 3%);
        }
    }
}
.icon-container-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon-container {
    width: 30%;
    text-align: center;
    color: #666;
    padding: 0 4%;
    font-size: 1.1em;
    img {
        width: 50px;
        height: 50px;
    }
    h3 {
        margin: 20px 0 10px 0;
    }
    p{
        font-style:italic;
    }
}

.content {
    margin-top: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid #666;
    display: flex;
    justify-content: space-between;
    img {
        width: 28%;
        object-fit: cover;
    }
    article {
        margin-left: 1%;
        font-size: 1.3em;
        width: 68%;
        h2 {
            margin-bottom: 10px;
        }
        p {
            color: #666;
            margin-bottom: 15px;
        }
        .spoed {
            margin: 50px 0;
            font-size: 1.4em;
            color: $contrast;
            font-weight: 700;
        }
    }
}

#mogelijkheden {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 100px 0;
    text-align: center;
    padding-bottom: 100px;
    border-bottom: 1px solid #666;
    .img-container {
        position: relative;
        width: 33%;
        cursor: pointer;
        img {
            object-fit:cover;
            // display: block;
            width: 100%;
            height: 100%;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($primair, .9);
            overflow: hidden;
            width: 0;
            height: 100%;
            transition: .5s ease;
            .text {
                white-space: nowrap; 
                color: white;
                font-size: 1.5em;
                font-weight: 600;
                position: absolute;
                overflow: hidden;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
              }
        }
    }
    .img-container:hover .overlay {
        width: 100%;
    }
}

.no-border {
    border: none;
}

footer {
    margin-top: 150px;
    width: 100%;
    background-color: $primair;
    color: white;
    padding: 20px 0;
}

// media queries
@media (max-width: 996px) {
    .container {
        width: 96%;
    }

    #header{
        height: 60px;
        font-size: 0.8em;
    }
    #header-buffer{
        height: 60px;
    }
    #logo {
        margin: auto 0 auto 0 !important;
    }

    #nav {
        font-size: 0.8em;
        width:0;
        margin: 0;
        left: 0; 
        top: 0;
        bottom: -100px;
        overflow: hidden;
        transition: all 1s ease;
        position: fixed;
        background-color: $primair;
        ul {
            .sidebar-close {
                display: block;
                position: absolute;
                top: 20px;
                right: 20px;
                font-weight: 600;
                font-size: 2.1em;
                cursor: pointer;
            }
            #logo-sidebar {
                display: block;
                width: 6em;
                margin: 0 0 35px 25px;
                font-size: 1.8em;
            }
            padding-top: 100px;
            flex-direction: column;
            z-index: 100001;
            li {
                margin-left: 30px;
                margin-bottom: 10px;
                text-align: left;
                border: none;
                a {
                    font-size: 1.5em;
                    color: white;
                }
                .sub-menu-link:after {
                    content: " »"
                }
            }
        }
        #nav-offerte {
            background-color:transparent;
            color: white;
            margin-left: 0;
        }
    }


    #hamburger-icon {
        display: inline-block;
        margin: auto 20px auto auto;
        cursor: pointer;
    }

    // dd-menu
    .dropdown-menu-item {
        background-color: darken($primair, 10%);
        display:block;
        opacity: 0;
        z-index: -1;
        margin-right:0%;
    }

    .dd-resp-show {
        z-index:20000;
        display: block;
        opacity: 1 !important;
        position: fixed !important;
        left:0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: -100px !important;
        height: inherit;
        width: inherit !important;
        transition: opacity 1s ease;
        overflow-y: scroll;
    }

    .close-dd-nav {
        display: inline-block;
        font-size: 2.2em;
        font-weight: 800;
        cursor: pointer;
        position: fixed;
        color: white;
        top: 80px;
        right: 30px;
    }

    
    .dmi-resp {
        padding: 20% 10% 10% 20%;
        max-width: 100%;
        opacity: 0;
    }

    .dd-menu-content{
        flex-direction: column;
        padding-bottom: 100px;
    }

    .dd-groep {
        width: 80%;
    }
    // einde dd
    #call-to-action {
        flex-direction: column;
        margin: 0;
    }

    #cta-voordelen {
        width: 96%;
        margin: 30px auto 0;
        height: 500px;
        order: 2;
    }

    .cta-image {
        width: 96%;
        height: 400px;
        margin: 0 auto;
        order: 1;
    }

    .icons {
        flex-direction: column;
        .icon-container {
            width: 96%;
            margin: 40px auto;
            padding: 0;
        }
    }

    .content {
        justify-content: space-between;
        img {
            width: 15%;
        }
        article {
            width: 80%;

        }
    }
    
    #mogelijkheden .img-container {
        width: 50%;
        font-size: 0.55em;
    }
}
