#logo {
    margin-top: 30px;
    font-size: 2em;
    font-weight: 600;
}

nav {
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: $primair;
    border-bottom: 1px solid black;
}

#call-to-action {
    height: 400px;
    background-color: $primair;
}
