* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primair {
  color: #02827e !important;
}

.contrast {
  color: #822202 !important;
}

.container {
  width: 70%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

#logo a:hover,
nav a:hover {
  text-decoration: none !important;
}

#header {
  height: 90px;
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  z-index: 900;
  padding-bottom: 5px;
}

#header-buffer {
  height: 95px;
}

#logo {
  font-size: 1.4em;
  margin: 30px 0;
}

#logo-zwolle {
  color: white;
  background-color: #02827e;
  padding: 10px;
  margin: 0 2px;
}

nav {
  flex: 1;
}

nav ul {
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 1%;
}

nav ul li a {
  white-space: nowrap;
  font-size: 1.4em;
  color: #02827e;
}

nav ul li a:hover {
  color: #03b4af;
}

#hamburger-icon {
  display: none;
}

#hamburger-icon img {
  width: 25px;
}

#call-to-action {
  display: flex;
  justify-content: space-between;
}

#cta-voordelen {
  width: 29%;
  position: relative;
}

#cta-voordelen h2 {
  color: white;
  background-color: #02827e;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 1.7em;
}

#cta-voordelen #voordelen-lijst {
  background-color: rgba(2, 130, 126, 0.1);
  position: absolute;
  display: flex;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#cta-voordelen #voordelen-lijst ul {
  position: absolute;
  top: 130px;
}

#cta-voordelen #voordelen-lijst ul li {
  color: #666;
  margin-left: 70px;
  font-size: 1.5em;
  margin-bottom: 15px;
  font-style: italic;
}

#cta-voordelen #voordelen-lijst a {
  margin: auto auto 20px auto;
}

#cta-voordelen #voordelen-lijst a button {
  font-size: 1.8em;
  background-color: #822202;
  color: white;
  padding: 15px 40px;
  text-align: center;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

#cta-voordelen #voordelen-lijst a button:hover {
  background-color: #912602;
}

#cta-image {
  width: 69%;
  height: 500px;
  background-image: url("/img/klussenbedrijf-in-zwolle-nodig.jpg");
  background-size: cover;
  background-position: bottom;
  background-color: #adadad;
  background-blend-mode: multiply;
  position: relative;
  text-align: right;
}

#cta-image h2 {
  color: white;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 15px;
}

#cta-image #cta-tekst {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.fadeIn_1,
.fadeIn_2,
.fadeIn_3 {
  opacity: 0;
}

.fadeIn_1 {
  transition: all 2s ease;
}

.fadeIn_2 {
  transition: all 2s 1.5s ease;
}

.fadeIn_3 {
  transition: all 2s 3s ease;
}

.fade {
  opacity: 1 !important;
}

h1 {
  font-size: 2.7em;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  margin-top: 40px;
}

.icons {
  height: 400px;
  background-color: rgba(2, 130, 126, 0.1);
  margin-top: 50px;
}

.content {
  margin-top: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-between;
}

.content img {
  width: 28%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content article {
  margin-left: 1%;
  font-size: 1.3em;
  width: 68%;
}

.content article h2 {
  margin-bottom: 10px;
}

.content article p {
  color: #666;
  margin-bottom: 15px;
}

#mogelijkheden {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 100px 0;
  text-align: center;
  padding-bottom: 100px;
  border-bottom: 1px solid #666;
}

#mogelijkheden img {
  width: 33%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.no-border {
  border: none;
}

footer {
  margin-top: 150px;
  width: 100%;
  background-color: #02827e;
  color: white;
  padding: 20px 0;
}

@media (max-width: 996px) {
  nav ul {
    width: 0;
    margin: 0;
    padding-top: 100px;
    background-color: #02827e;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 1s ease;
    z-index: 1000;
  }

  nav ul li {
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: left;
  }

  nav ul li a {
    font-size: 1em;
    color: white;
  }

  #hamburger-icon {
    display: inline-block;
    margin: auto;
    cursor: pointer;
  }

  #mogelijkheden img {
    width: 50%;
  }
}

.transparent-from-bottom_1 {
  opacity: 0 !important;
  bottom: -100px !important;
  position: relative !important;
  transition: all 0.5s ease;
}

.transparent-from-bottom_2 {
  opacity: 0 !important;
  bottom: -100px !important;
  position: relative !important;
  transition: all 0.5s 0.15s ease;
}

.transparent-from-bottom_3 {
  opacity: 0 !important;
  bottom: -100px !important;
  position: relative !important;
  transition: all 0.5s 0.3s ease;
}

.transparent-from-left {
  opacity: 0 !important;
  left: -100px !important;
  position: relative !important;
  transition: all 0.5s ease;
}

.transparent-from-right {
  opacity: 0 !important;
  right: -100px !important;
  position: relative !important;
  transition: all 0.5s ease;
}

.opaque-from-bottom_1,
.opaque-from-bottom_2,
.opaque-from-bottom_3 {
  opacity: 1 !important;
  bottom: 0 !important;
}

.opaque-from-right {
  opacity: 1 !important;
  right: 0 !important;
}

.opaque-from-left {
  opacity: 1 !important;
  left: 0 !important;
}

