@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primair {
  color: #02827e !important;
}

.contrast {
  color: #822202 !important;
}

.container {
  width: 70%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

#logo a:hover,
nav a:hover {
  text-decoration: none !important;
}

#header {
  height: 90px;
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  z-index: 900;
}

#header-buffer {
  height: 90px;
}

#logo {
  font-size: 1.4em;
  margin: 30px 0;
}

#logo-zwolle {
  color: white;
  background-color: #02827e;
  padding: 10px;
  margin: 0 2px;
}

#nav {
  margin-left: auto;
}

#nav ul {
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
}

#nav ul .sidebar-close {
  display: none;
  color: white;
}

#nav ul #logo-sidebar {
  display: none;
  color: white !important;
  font-size: 1.3em;
  margin-bottom: 70px !important;
}

#nav ul #logo-sidebar #logo-zwolle {
  margin-left: 5px;
  background-color: white;
  color: #02827e;
}

#nav ul li {
  margin-left: 0;
}

#nav ul li a {
  white-space: nowrap;
  display: block;
  padding: 15px 10px;
  font-size: 1.1em;
  color: #02827e;
}

#nav ul li a:hover {
  color: #01504d;
}

#nav #nav-offerte {
  background-color: #822202;
  color: white;
  margin: 5px 0 0 10px;
  padding: 10px 10px;
}

#dropdown-diensten-item {
  border-top-style: none;
}

#dropdown-diensten-item:hover {
  border-top-style: hidden;
}

.dropdown-menu-item {
  background-color: white;
  border: 1px solid #01504d;
  box-shadow: 0px 3px 2px #444444;
  margin-right: 15%;
  position: fixed;
  z-index: 110;
  display: none;
  text-align: center;
}

.dropdown-menu-item a {
  color: black;
  display: block;
  padding: 20px 30px;
  border-bottom: 1px solid #666;
}

.dropdown-menu-item a:hover {
  text-decoration: none !important;
  background-color: #eee;
}

.dmi-resp {
  max-width: 50%;
}

.dmi-resp ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#dropdown-diensten-item {
  right: 70px;
}

.dd-show {
  display: block !important;
}

.dd-menu-content {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #666;
}

.dd-single {
  flex: 1 0 80%;
  flex-direction: column;
}

.close-dd-nav {
  display: none;
}

#hamburger-icon {
  display: none;
}

#hamburger-icon img {
  width: 25px;
}

#call-to-action {
  display: flex;
  justify-content: space-between;
}

#cta-voordelen {
  width: 29%;
  position: relative;
}

#cta-voordelen h2 {
  color: white;
  background-color: #02827e;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 1.7em;
}

#cta-voordelen #voordelen-lijst {
  background-color: rgba(2, 130, 126, 0.1);
  position: absolute;
  display: flex;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#cta-voordelen #voordelen-lijst ul {
  position: absolute;
  top: 130px;
}

#cta-voordelen #voordelen-lijst ul li {
  color: #666;
  margin-left: 70px;
  font-size: 1.2em;
  margin-bottom: 15px;
  font-style: italic;
}

#cta-voordelen #voordelen-lijst a {
  margin: auto auto 20px auto;
}

#cta-voordelen #voordelen-lijst a button {
  font-size: 1.3em;
  background-color: #822202;
  color: white;
  padding: 15px 40px;
  text-align: center;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

#cta-voordelen #voordelen-lijst a button:hover {
  background-color: #912602;
}

.cta-image {
  width: 69%;
  height: 500px;
  background-size: cover;
  background-position: bottom;
  background-color: #adadad;
  background-blend-mode: multiply;
  position: relative;
  text-align: right;
}

.cta-image h2 {
  color: white;
  font-weight: 700;
}

.cta-image #cta-tekst {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.cta-image #cta-tekst a:hover {
  text-decoration: none;
  font-style: italic;
}

#cta-image-home {
  background-image: url("/img/klussenbedrijf-in-zwolle-nodig.jpg");
}

#cta-image-klussen-zwolle {
  background-image: url("/img/gereedschap.jpg");
}

.fadeIn_1,
.fadeIn_2,
.fadeIn_3 {
  opacity: 0;
  margin-bottom: 15px;
}

.fadeIn_1 {
  transition: opacity 2s ease-in-out;
}

.fadeIn_2 {
  transition: opacity 2s 1s ease;
}

.fadeIn_3 {
  transition: opacity 2s 2.5s ease;
}

.fade {
  opacity: 1 !important;
}

h1 {
  font-size: 2.7em;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  margin-top: 40px;
}

.icons {
  background-color: rgba(2, 130, 126, 0.1);
  margin: 50px 0 100px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.icons button {
  width: 100%;
  padding: 20px 0;
  margin-top: 80px;
  background-color: #822202;
  border: none;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}

.icons button:hover {
  background-color: #912602;
}

.icon-container-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon-container {
  width: 30%;
  text-align: center;
  color: #666;
  padding: 0 4%;
  font-size: 1.1em;
}

.icon-container img {
  width: 50px;
  height: 50px;
}

.icon-container h3 {
  margin: 20px 0 10px 0;
}

.icon-container p {
  font-style: italic;
}

.content {
  margin-top: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-between;
}

.content img {
  width: 28%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content article {
  margin-left: 1%;
  font-size: 1.3em;
  width: 68%;
}

.content article h2 {
  margin-bottom: 10px;
}

.content article p {
  color: #666;
  margin-bottom: 15px;
}

.content article .spoed {
  margin: 50px 0;
  font-size: 1.4em;
  color: #822202;
  font-weight: 700;
}

#mogelijkheden {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 100px 0;
  text-align: center;
  padding-bottom: 100px;
  border-bottom: 1px solid #666;
}

#mogelijkheden .img-container {
  position: relative;
  width: 33%;
  cursor: pointer;
}

#mogelijkheden .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#mogelijkheden .img-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(2, 130, 126, 0.9);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

#mogelijkheden .img-container .overlay .text {
  white-space: nowrap;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#mogelijkheden .img-container:hover .overlay {
  width: 100%;
}

.no-border {
  border: none;
}

footer {
  margin-top: 150px;
  width: 100%;
  background-color: #02827e;
  color: white;
  padding: 20px 0;
}

@media (max-width: 996px) {
  .container {
    width: 96%;
  }

  #header {
    height: 60px;
    font-size: 0.8em;
  }

  #header-buffer {
    height: 60px;
  }

  #logo {
    margin: auto 0 auto 0 !important;
  }

  #nav {
    font-size: 0.8em;
    width: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: -100px;
    overflow: hidden;
    transition: all 1s ease;
    position: fixed;
    background-color: #02827e;
  }

  #nav ul {
    padding-top: 100px;
    flex-direction: column;
    z-index: 100001;
  }

  #nav ul .sidebar-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 600;
    font-size: 2.1em;
    cursor: pointer;
  }

  #nav ul #logo-sidebar {
    display: block;
    width: 6em;
    margin: 0 0 35px 25px;
    font-size: 1.8em;
  }

  #nav ul li {
    margin-left: 30px;
    margin-bottom: 10px;
    text-align: left;
    border: none;
  }

  #nav ul li a {
    font-size: 1.5em;
    color: white;
  }

  #nav ul li .sub-menu-link:after {
    content: " \BB";
  }

  #nav #nav-offerte {
    background-color: transparent;
    color: white;
    margin-left: 0;
  }

  #hamburger-icon {
    display: inline-block;
    margin: auto 20px auto auto;
    cursor: pointer;
  }

  .dropdown-menu-item {
    background-color: #01504d;
    display: block;
    opacity: 0;
    z-index: -1;
    margin-right: 0%;
  }

  .dd-resp-show {
    z-index: 20000;
    display: block;
    opacity: 1 !important;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: -100px !important;
    height: inherit;
    width: inherit !important;
    transition: opacity 1s ease;
    overflow-y: scroll;
  }

  .close-dd-nav {
    display: inline-block;
    font-size: 2.2em;
    font-weight: 800;
    cursor: pointer;
    position: fixed;
    color: white;
    top: 80px;
    right: 30px;
  }

  .dmi-resp {
    padding: 20% 10% 10% 20%;
    max-width: 100%;
    opacity: 0;
  }

  .dd-menu-content {
    flex-direction: column;
    padding-bottom: 100px;
  }

  .dd-groep {
    width: 80%;
  }

  #call-to-action {
    flex-direction: column;
    margin: 0;
  }

  #cta-voordelen {
    width: 96%;
    margin: 30px auto 0;
    height: 500px;
    order: 2;
  }

  .cta-image {
    width: 96%;
    height: 400px;
    margin: 0 auto;
    order: 1;
  }

  .icons {
    flex-direction: column;
  }

  .icons .icon-container {
    width: 96%;
    margin: 40px auto;
    padding: 0;
  }

  .content {
    justify-content: space-between;
  }

  .content img {
    width: 15%;
  }

  .content article {
    width: 80%;
  }

  #mogelijkheden .img-container {
    width: 50%;
    font-size: 0.55em;
  }
}

.transparent-from-bottom_1 {
  opacity: 0 !important;
  bottom: -100px !important;
  position: relative !important;
  transition: all 0.5s ease;
}

.transparent-from-bottom_2 {
  opacity: 0 !important;
  bottom: -100px !important;
  position: relative !important;
  transition: all 0.5s 0.15s ease;
}

.transparent-from-bottom_3 {
  opacity: 0 !important;
  bottom: -100px !important;
  position: relative !important;
  transition: all 0.5s 0.3s ease;
}

.transparent-from-left {
  opacity: 0 !important;
  left: -100px !important;
  position: relative !important;
  transition: all 0.5s ease;
}

.transparent-from-right {
  opacity: 0 !important;
  right: -100px !important;
  position: relative !important;
  transition: all 0.5s ease;
}

.opaque-from-bottom_1,
.opaque-from-bottom_2,
.opaque-from-bottom_3 {
  opacity: 1 !important;
  bottom: 0 !important;
}

.opaque-from-right {
  opacity: 1 !important;
  right: 0 !important;
}

.opaque-from-left {
  opacity: 1 !important;
  left: 0 !important;
}

