* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primair {
  color: #800020;
}

.contrast {
  color: #208000;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

#logo a:hover,
nav a:hover {
  text-decoration: none !important;
}

#header {
  border-bottom: 2px solid #800020;
  height: 70px;
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  z-index: 900;
  padding-bottom: 5px;
}

#header-buffer {
  height: 75px;
}

#logo {
  font-size: 1.2em;
  margin: 20px 0;
  color: #505050;
}

#logo-zwolle {
  color: white;
  background-color: #800020;
  padding: 10px;
  border-radius: 5px;
}

nav {
  flex: 1;
}

nav ul {
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 1%;
}

nav ul li a {
  white-space: nowrap;
  font-size: 1.4em;
  color: #800020;
}

nav ul li a:hover {
  color: #b3002d;
}

#hamburger-icon {
  display: none;
}

#hamburger-icon img {
  width: 25px;
}

#call-to-action {
  background-image: url("/img/klusjes-in-zwolle.jpg");
  background-size: cover;
  background-position: 20% 20%;
  background-color: #adadad;
  background-blend-mode: multiply;
  display: flex;
}

#cta-tekst {
  flex: 1;
  padding: 5% 0 5% 10%;
  text-align: center;
}

#cta-tekst h2 {
  color: white;
  font-size: 6em;
  font-weight: 600;
  text-shadow: 5px 5px 5px black;
}

#cta-form {
  flex: 1;
  padding: 4% 10%;
  flex-direction: column;
  background-color: #800020;
  -webkit-clip-path: circle(45%);
          clip-path: circle(45%);
}

#cta-form form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

#cta-form form h2 {
  flex: 1;
  font-size: 2.4em;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 30px;
  color: white;
}

#cta-form form input {
  font-size: 2em;
  flex: 1;
}

#cta-form form textarea {
  font-size: 2em;
  flex: 1;
  margin-bottom: 15px;
}

#cta-form form button {
  flex: 1;
  font-size: 2em;
  background-color: #208000;
  border: 0;
  box-shadow: 0;
  padding: 15px 0;
  color: white;
  cursor: pointer;
}

#cta-form form button:hover {
  background-color: #248f00;
}

h1 {
  font-weight: 100;
  font-style: italic;
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
}

.voordelen {
  display: flex;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 1000px;
}

.voordelen .img {
  flex: 1;
  background-image: url("/img/klusjes-in-zwolle.jpg");
  background-size: cover;
}

.voordelen .opsomming-voordelen {
  flex: 1;
}

@media (max-width: 996px) {
  nav ul {
    width: 0;
    margin: 0;
    padding-top: 100px;
    background-color: #800020;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 1s ease;
    z-index: 1000;
  }

  nav ul li {
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: left;
  }

  nav ul li a {
    font-size: 1em;
    color: white;
  }

  #hamburger-icon {
    display: inline-block;
    margin: auto;
    cursor: pointer;
  }

  #call-to-action {
    flex-direction: column;
  }

  #cta-form {
    -webkit-clip-path: none;
            clip-path: none;
    opacity: 0.8;
  }
}

.transparent-from-bottom_1 {
  opacity: 0 !important;
  bottom: -100px !important;
  position: relative !important;
  transition: all 0.5s ease;
}

.transparent-from-bottom_2 {
  opacity: 0 !important;
  bottom: -100px !important;
  position: relative !important;
  transition: all 0.5s 0.15s ease;
}

.transparent-from-bottom_3 {
  opacity: 0 !important;
  bottom: -100px !important;
  position: relative !important;
  transition: all 0.5s 0.3s ease;
}

.transparent-from-left {
  opacity: 0 !important;
  left: -100px !important;
  position: relative !important;
  transition: all 0.5s ease;
}

.transparent-from-right {
  opacity: 0 !important;
  right: -100px !important;
  position: relative !important;
  transition: all 0.5s ease;
}

.opaque-from-bottom_1,
.opaque-from-bottom_2,
.opaque-from-bottom_3 {
  opacity: 1 !important;
  bottom: 0 !important;
}

.opaque-from-right {
  opacity: 1 !important;
  right: 0 !important;
}

.opaque-from-left {
  opacity: 1 !important;
  left: 0 !important;
}

